.container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.big-title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 50px;
  color: #333333;
}
.small-title {
  font-size: 20px;
  font-weight: 600;
  color: #666666;
  padding-left: 10px;
  position: relative;
  margin-bottom: 10px;
}
.small-title:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #999999;
  bottom: 4px;
  left: 0;
}
.text {
  color: #333333;
  padding-left: 20px;
}
.bold {
  font-weight: 600;
}
a.pic01 {
  display: inline-block;
  width: 40%;
}
a.pic01 img {
  width: 100%;
  max-width: 100%;
}
a.pic02 {
  display: inline-block;
  width: 20%;
}
a.pic02 img {
  width: 100%;
  max-width: 100%;
}
.block-img {
  margin-bottom: 40px;
}
.block1 {
  margin-top: 100px;
  margin-bottom: 100px;
}
a.link {
  color: #999999;
  display: inline-block;
  margin-bottom: 15px;
}
a.link:hover {
  text-decoration: none;
  color: #666666;
}
